.header {
    height: 120px; /* Reduced height */
    text-align: center;
    display:  flex;
    align-items: center;
}

.logo-container {
    float: left; /* Float the container to the left */
    width: 150px; /* Set width */
    height: 90px; /* Set height */
    margin-right: 20px; /* Add some margin to separate it from other content */
    margin-top: 20px; /* Adjust margin-top to move the video down */
}

.logo {
    width: 150%; /* Ensure the video fits within its container */
    height: 150%; /* Ensure the video fits within its container */
    object-fit: cover; /* Maintain aspect ratio */
}

.nav-wrapper {
    flex: auto;
    justify-content: space-evenly;
    
    padding: 0px 20px; /* Padding for the navigation wrapper */
}

.nav-list {
    display: flex;
    justify-content: center;
}

.container {
    flex: 1;
    min-height: 100vh;
    margin-left: 0 !important;
}