body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation bar styles */
nav {
    background-color: #ffffff; /* Background color */
    box-shadow: none; /* No box shadow */
}
  
  /* List styles */
  ul {
    list-style-type: none; /* Remove bullets */
    margin: 0; /* Remove default margin */
    padding: 40px; /* Remove default padding */
  }
  
  /* List item styles */
  li {
    display: inline-block; /* Display list items horizontally */
    margin-left: 100px; /* Left margin between list items */ 

  }
  
  /* Link styles */
  a {
    color: #666; /* Link color */
    text-decoration: none; /* Remove underline */
  }
  
  a:hover {
    color: #333; /* Change link color on hover */
  }

footer {
    background-color: whitesmoke;
    color: #000000;
    padding: 20px;
    text-align: center;
}
